<a href="https://colab.research.google.com/github/arjun1131/Building-ML-models-from-Stratch/blob/main/SVM_Classifier_from_stratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Support Vector Machine Classifier

In [3]:
#Importing Libraries

import numpy as np

In [32]:
class svm():

  #Hyper paramters Initilization
  def __init__(self,learning_rate,no_of_iterations,lambdap):
    self.alpha = learning_rate
    self.iterations = no_of_iterations
    self.lambdap = lambdap

  #Fitting features into model
  def fit(self, x, y):

    # m represents number of data points, n represents number of features
    self.m , self.n = x.shape

    #model parameter initialization
    self.weights = np.zeros(self.n)
    self.bias = 0
    self.x = x
    self.y = y

    #implementing Gradient descent for Optimization
    for i in range(self.iterations):
      self.update_parameters()

  #Model parameters updation
  def update_parameters(self):

    #Label encoding
    y_label = np.where(self.y <= 0 , -1 , 1)

    # Calculating Gradients
    for index , xi in enumerate(self.x):

      condition = y_label[index] * (np.dot(xi,self.weights) - self.bias) >= 1

      if(condition == True):

        dw = 2 * self.lambdap * self.weights
        db = 0
      
      else :

        dw = 2 * self.lambdap * self.weights - np.dot(xi, y_label[index])
        db = y_label[index]
      
      self.weights = self.weights - (self.alpha * dw)

      self.bias = self.bias - (self.alpha * db)

  #Predicting label 
  def predict(self, x):

    op = np.dot(x,self.weights) - self.bias

    label_pred = np.sign(op)

    y_pred = np.where(label_pred <= -1 , 0 , 1)

    return y_pred

#Diabetes Prediction using class svm

In [7]:
#Importing libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#Data Processing

In [10]:
#Loading data from CSV into Pandas Dataframe
diabetes_data = pd.read_csv('/content/drive/MyDrive/ML Datasets/diabetes.csv')

In [11]:
#Validating dataframe by using head function of Pandas
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
#Finding rows , columns of dataframe
diabetes_data.shape

(768, 9)

#Data Analysis

In [13]:
#Statistical measures of data frame
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
diabetes_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [15]:
#Finding statistical measures for groups 
diabetes_data.groupby('Outcome').describe()

        Pregnancies                                                Glucose  \
              count      mean       std  min   25%  50%  75%   max   count
Outcome
0             500.0  3.298000  3.017185  0.0  1.00  2.0  5.0  13.0   500.0
1             268.0  4.865672  3.741239  0.0  1.75  4.0  8.0  17.0   268.0

                     ... DiabetesPedigreeFunction           Age             \
               mean  ...                      75%    max  count       mean
Outcome              ...
0        109.980000  ...                  0.56175  2.329  500.0  31.190000
1        141.257463  ...                  0.72800  2.420  268.0  37.067164


               std   min   25%   50%   75%   max
Outcome
0        11.667655  21.0  23.0  27.0  37.0  81.0
1        10.968254  21.0  28.0  36.0  44.0  70.0

[2 rows x 64 columns]

In [16]:
#Finding average values for groups 
diabetes_data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

#Splitting features & labels

In [17]:
x = diabetes_data.drop(columns = 'Outcome', axis = 1)
y = diabetes_data['Outcome']

In [18]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [19]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

#Data Standardization

In [20]:
#Creating instance of StandardScaler function
scale = StandardScaler()

In [21]:
#Fitting features in StandardScale 
scale.fit(x)

StandardScaler()

In [22]:
#Transform features 
std_data = scale.transform(x)

In [24]:
std_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [25]:
#Giving standardized features to input 
x = std_data

#Splitting train & test data

In [26]:
x_train , x_test , y_train , y_test = train_test_split(x, y, test_size = 0.2, stratify = y ,random_state = 2)

In [27]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(614, 8) (154, 8) (614,) (154,)

#Model Training

In [33]:
#Cereating instance of user created class
model = svm(learning_rate = 0.001, no_of_iterations = 1000,lambdap = 0.01)

In [34]:
model.fit(x_train, y_train)

#Model Evaluation

In [35]:
#Prediction on training data
train_prediction = model.predict(x_train)
print(train_prediction)

[0 0 1 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0
 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 1 0 0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0
 0 1 0 1 1 0 1 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 1
 0 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0
 0 1 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 1 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 1
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 1
 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 1 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 1 0 0 1 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 1
 0 1 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 1 0 0 1 0 1 1 0 0 0 0 0 1 0 0
 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0
 0 1 0 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 1 0 1 0 1 0 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 1 1 0 1 1 0 0 0 0 1 1 1 0 0
 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0]

In [36]:
#Finding accuracy score on training data
train_accuracy = accuracy_score(y_train, train_prediction)
print(train_accuracy)

0.7866449511400652

In [37]:
#Prediction on testing data
test_prediction = model.predict(x_test)
print(test_prediction)

[0 0 1 1 0 0 0 1 0 1 1 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0
 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0
 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0
 0 0 1 0 0 0]

In [39]:
#Finding accuracy score on testing data
test_accuracy = accuracy_score(y_test, test_prediction)
print(test_accuracy)

0.7727272727272727

#Prediction System

In [43]:
input = (8,183,64,0,0,23.3,0.672,32)

#Converting features into numpy array
input_array = np.asarray(input)

#Reshaping array 
reshaped_input = input_array.reshape(1,-1)

#Standardizing reshaped array 
std_input = scale.transform(reshaped_input)
#print(std_input)

#Predicting output
output = model.predict(std_input)
print(output)

[1]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [44]:
if output[0] == 1:
  print ("Person has tested Positive for Diabetes")
else:
  print ("Person has tested Negative for Diabetes")

Person has tested Positive for Diabetes